<h1>Preview</h1>

<div class="card" style="width: 50%;" id="posts">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
      <h5 class="card-title"><%= @post.username %></h5>
      <h6 class="card-subtitle mb-2 text-muted">@<%= "#{@post.username}#{@post.user_id}" %></h6>
      </div>
    </div>
    <p class="card-text"><%= @post.content %></p>
    <h6 class="card-subtitle mb-2 text-muted">Created at <%= @post.created_at %> </h6>
  </div>
</div>

<br/>

<div>
  <div class="d-flex flex-row">
    <p> <%= link_to "Edit", edit_post_path(@post), class:"btn btn-primary" %> </p>
    <%= button_to "Delete", @post, method: :delete, class:"btn btn-danger ms-2" %>
  </div>
  <br/>
  <%= link_to "Back to posts", posts_path, class:"btn btn-secondary " %>
</div>
